CREATE TABLE IF NOT EXISTS public.faculty (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  email TEXT NOT NULL UNIQUE,
  name TEXT,
  role TEXT DEFAULT 'faculty',
  subjects TEXT[],
  password TEXT NOT NULL,
  approved BOOLEAN DEFAULT true,
  created_at TIMESTAMPTZ DEFAULT now(),
  updated_at TIMESTAMPTZ DEFAULT now()
);

ALTER TABLE public.faculty ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "faculty_select_own" ON public.faculty;
CREATE POLICY "faculty_select_own"
ON public.faculty
FOR SELECT
USING (auth.uid()::text = id::text OR role = 'faculty');

DROP POLICY IF EXISTS "faculty_insert_admin" ON public.faculty;
CREATE POLICY "faculty_insert_admin"
ON public.faculty
FOR INSERT
WITH CHECK (true);

DROP POLICY IF EXISTS "faculty_update_own" ON public.faculty;
CREATE POLICY "faculty_update_own"
ON public.faculty
FOR UPDATE
USING (auth.uid()::text = id::text);
